@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-color: white;
    --background-color2: #5aa2bf;
    --letras-main: black;
}

html {
    scroll-padding-top: 60px;
}

body {
    background: var(--background-color);
    color: var(--letras-main);
    font-family: "Orbitron", serif;
    margin: 0 auto;
}

img {
    object-fit: contain;
}

/* NAVBAR */

nav, .sidebar {
    z-index: 1;
}

nav {
    background-color: var(--background-color2);
    box-shadow: 0px 0px 8px rgba(0, 0, 0);
    position: sticky;
    top: 0;
}

nav ul {
    margin-top: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav li {
    height: 50px;
    font-size: 15px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--letras-main);
}

nav a:hover {
    background-color: var(--background-color);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vw;
    width: 250px;
    z-index: 10;
    background-color: var(--background-color2);
    box-shadow: -10px 0 10px rgb(90, 162, 191, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

/* HEADER */

header h1 {
    font-size: 40px;
    text-align: center;
}

.columna-header img {
    display: none;
}

/* ARTICLE */

hr {
    display: none;
}

article {
    margin: auto;
    width: 90vw;
    max-width: 1400px;
}

h2 {
    font-size: 40px;
}

/* proyectos */
.auto-show {
    animation: autoShowAnimation both;
    animation-timeline: view(80% 5%);
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);

    } to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.proyectos {
    gap: 30px;
}

.proyectos-columna {
    background-color: var(--background-color2);
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    z-index: 0;
}

.proyectos-columna img {
    width: 90px;
}

/* SOCIALS */

.socials-fila-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socials-fila-2 {
    display: flex;
    gap: 10px;
}

.socials-columna {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials img {
    width: 40px;
}

.socials p {
    display: none;
    color: var(--letras-main);
    font-size: 15px;
}

.socials p:hover {
    text-decoration: underline;
}

.socials a {
    color: var(--letras-main);
    text-decoration: none;
}

/* FOOTER */
footer {
    padding: 20px 0;
    text-align: center;
}

button {
    position: fixed;
    margin-right: 10px;
    margin-bottom: 10px;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: var(--background-color2);
    border: none;
    box-shadow: -1px -1px 10px black;
    border-radius: 10px;
    cursor: pointer;
}



@media screen and (max-width: 800px) {
    .no-mobile {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

@media screen and (min-width: 801px) {

    .menu-button {
        display: none;
    }

    nav ul {
        justify-content: center;
    }

    header h1 {
        font-size: 60px;
        margin: 0;
    }

    article h2 {
        text-align: left;
    }

    .proyectos-fila {
        display: flex;
        gap: 30px;
    }

    .socials-fila-1 {
        gap: 35px;
    }

    .socials img {
        width: 45px;
    }

    .socials p {
        display: block;
        font-size: 25px;
    }

}

@media screen and (min-width: 1450px) {

    header h1 {
        font-size: 100px;
    }

    .contenedor-nombre {
        padding: 0px 0 100px 0;
    }

    .fila-header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .columna-header {
        width: 30%;
    }

    .columna-header img {
        display: block;
        width: 100%;
    }

    hr {
        display: block;
        width: 60%;
        border: var(--background-color2) solid 1px;
    }

    article {
        padding-top: 75px;
    }

    .proyectos {
        display: flex;
    }

    .socials-fila-1 {
        gap: 50px;
    }

    .socials img {
        width: 60px;
    }

    .socials p {
        font-size: 30px;
    }

    button {
        position: fixed;
        bottom: 0;
        right: 0;
    }

}