@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-color: #030f0f;
    --letras-main: #00df82;
}

body {
    background: linear-gradient(90deg, #030f0f -10%, #03624c) no-repeat fixed;
    color: var(--letras-main);
    font-family: "Orbitron", serif;
}

img {
    object-fit: contain;
}

/* NAVBAR */

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

li {
    font-size: 15px;
    transition: 0.5s ease-in;
}

a {
    text-decoration: none;
    color: var(--letras-main);
}

a:hover {
    text-decoration: underline;
}

header h1 {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
}

/* ARTICLE */

article {
    margin: auto;
    width: 90%;
}

h2 {
    font-size: 40px;
}

/* proyectos */

.proyectos {
    gap: 30px;
}

.proyectos-columna img {
    width: 90px;
}

.proyectos-fila p {}

/* SOCIALS */

.socials-fila-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socials-fila-2 {
    display: flex;
    gap: 10px;
}

.socials-columna {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials img {
    width: 30px;
}

.socials p {
    color: white;
    font-size: 15px;
}

.socials a {
    color: white;
}

/* FOOTER */
footer {
    padding: 20px 0;
    text-align: center;
}

@media screen and (min-width: 800px) {

    ul {
        gap: 20px;
    }

    li {
        font-size: 20px;
    }

    header h1 {
        font-size: 60px;
    }

    article h2 {
        text-align: left;
    }

    .proyectos-fila {
        display: flex;
        gap: 30px;
    }

    .socials-fila-1 {
        gap: 35px;
    }

    .socials img {
        width: 45px;
    }

    .socials p {
        font-size: 25px;
    }

}

@media screen and (min-width: 1200px) {

    ul {
        gap: 30px;
    }

    header h1 {
        font-size: 80px;
    }

    .proyectos {
        display: flex;
    }

    .socials-fila-1 {
        gap: 50px;
    }

    .socials img {
        width: 60px;
    }

    .socials p {
        font-size: 30px;
    }

}